@font-face {
  font-family: "Permanent";
  src: url("/assets/fonts/PermanentMarker-Regular.ttf");
}

@font-face {
  font-family: "MPlus";
  src: url("/assets/fonts/MPLUSRounded1c-Regular.ttf");
}

@font-face {
  font-family: "Comfortaa";
  src: url("/assets/fonts/Comfortaa-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  /* font-family: Arial, sans-serif; */
  background-color: #121212;
  color: white;
  text-align: center;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.mobile-menu {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  background-color: rgba(30, 30, 30, 0.95);
  padding: 20px 0;
  text-align: center;
  transition: bottom 0.4s ease-in-out;
  border-radius: 20px 20px 0 0;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 60px;
}

.menu button,
.socials a {
  background-color: #1db954;
  border: none;
  font-family: "Comfortaa";
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.menu button img {
  vertical-align: middle;
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.menu button:hover,
.socials a:hover {
  transform: scale(1.1);
}

.player {
  margin-top: 30px;
  background: #222;
  padding: 20px;
  border-radius: 10px;
}

audio {
  width: 100%;
  margin-top: 10px;
}

.settings {
  margin-top: 30px;
}

select {
  padding: 5px;
  font-size: 16px;
}

.socials {
  margin-top: 20px;
}

.info {
  background-color: #333;
  color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  display: none;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal-content {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}

.close-modal {
  color: white;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
}

/* header */
header {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 70px;
  border: 2px solid #ff4d4d;
  background: transparent;
  gap: 15px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logo {
  font-family: "Permanent";
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.nav_menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.dedicated_button {
  background: #ff4d4d;
  padding: 10px 10px;
  border-radius: 15px;
}

.nav_menu li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_menu li a {
  font-family: "Comfortaa";
  border-radius: 15px;
  padding: 10px 10px;
  color: white;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.nav_menu li a:hover {
  text-decoration: dashed;
  background: #ff4d4d;
  padding: 10px 10px;
  border-radius: 15px;
}

nav i {
  color: #fff;
  font-size: 20px;
}

.header_button {
  background: #1db954;
  font-family: "Comfortaa";
  color: #fff;
  padding: 8px 15px;
  border-radius: 15px;
  font-weight: bold;
  border: 2px solid #1db954;
  transition: 0.3s;
}

.header_button:hover {
  background: transparent;
  border: 2px solid #1db954;
  font-weight: bold;
  color: #1db954;
}

/* section */
label {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
  display: block;
}
select {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border: 4px solid #ccc;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s ease;
  outline: none;
}
select:hover,
select:focus {
  border-color: #1db954;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
}

.middle {
  margin-top: 20px;
}

.concerts_list {
  background: #1a1a1a;
  margin-top: 20px;
  padding: 20px;
}

.card {
  width: 500px;
  background: #f9f9f9;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333;
  border: 4px dashed red;
}

.concert_info1 {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 25px;
  margin: 5px 0;
}

@media (max-width: 800px) {
  .menu button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .player {
    padding: 15px;
  }

  .settings {
    font-size: 14px;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav_menu {
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background-color: #333;
    overflow: hidden;
  }

  #menu_list {
    transition: all 0.25s ease-in-out;
  }

  /* .nav_menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #121212;
    border: 2px solid red;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  } */

  .nav_menu li {
    margin: 16px 0;
  }

  .nav_menu.active {
    left: 0;
  }

  .logo {
    display: none;
  }

  .songs-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .back-btn {
    width: 20px;
    align-items: center;
    justify-content: center;
  }

  .back-btn p {
    display: none;
  }
}

/* .concerts_list {
  padding: 40px 20px;
  background: #1a1a1a;
} */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  perspective: 1000px;
}

.concerts_list h1 {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
}

.concert-card-container {
  position: relative;
  width: 360px;
  height: 400px;
  /* background: red; */
}

.concert-card {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  /* was added */
  background: #2a2a2a;
  border-radius: 15px;
  /* margin: 20px auto; */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  transition: all 0.6s ease;
}

.concert-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 25px;
  border-radius: 15px;
  /* background: yellow; */
}

.concert-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  padding: 25px;
  background: #2a2a2a;
  transform: rotateY(180deg);
}

.concert-card-back-footer {
  margin: 15px 0;
}

.concert-card-container.flipped .concert-card {
  transform: rotateY(180deg);
}

.card-header {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  border-bottom: 1px solid #404040;
  padding-bottom: 20px;
}

.city {
  color: #fff;
  font-size: 1.8rem;
  margin: 0;
}

.date-badge {
  background: #404040;
  padding: 10px 15px;
  border-radius: 8px;
  text-align: center;
}

.date-badge span {
  display: block;
  color: #fff;
}

.date-badge .day {
  font-size: 1.5rem;
  font-weight: bold;
}

.date-badge .month {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.date-badge .year {
  font-size: 0.8rem;
  color: #888;
}

.card-content {
  margin-bottom: 15px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
}

.info-item-tickets {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: #fff;
}

.info-item i {
  font-size: 1.2rem;
  margin-right: 15px;
  color: #ff4757;
}

.info-item .label {
  display: block;
  font-size: 0.9rem;
  color: #888;
}

.info-item .value {
  display: block;
  font-size: 1.1rem;
  font-weight: 500;
}

/* for back card side */
.info-item-tickets .label-tickets {
  display: block;
  font-size: 1.5rem;
  color: #888;
}

.info-item-tickets .value-tickets {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
}

.more-btn {
  display: inline-flex;
  align-items: center;
  padding: 12px 25px;
  background: #ff4757;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.more-btn:hover {
  background: #ff6b81;
}

.more-btn i {
  margin-left: 10px;
  font-size: 0.9rem;
}

.back-btn {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  padding: 12px 25px;
  background: #ff4757;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.back-btn:hover {
  background: #ff6b81;
}

.back-btn i {
  font-size: 0.9rem;
}

.tickets-btn {
  display: inline-flex;
  align-items: center;
  padding: 12px 25px;
  background: #ff4757;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.tickets-btn:hover {
  background: #ff6b81;
}

.tickets-btn i {
  margin-right: 10px;
  font-size: 0.9rem;
}

/* shop */
.shop {
  margin-top: 20px;
  padding: 20px;
}

.all-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.card-container {
  position: relative;
  background: red;
  width: 300px;
  height: 400px;
}

/* .shop-card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.shop-card:hover {
  transform: rotateY(180deg);
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #888;
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ccc;
  transform: rotateY(180deg);
} */

/* shop general */
.shop-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.shop-card-container {
  position: relative;
  width: 400px;
  height: 400px;
  border: 2px solid #ff4d4d;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.shop-img {
  width: 100%;
  height: 100%;
  /* height: 200px; */
  object-fit: cover;
}

.shop-info-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px;
}

.shop-product-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.shop-product-price {
  font-size: 16px;
  margin-bottom: 15px;
}

/* releases section */
.releases {
  background: #1a1a1a;
  margin-top: 20px;
  padding: 20px;
}

.releases-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.releases-card-container {
  position: relative;
  width: 400px;
  height: 400px;
  margin-top: 20px;
  overflow: hidden;
  /* box-shadow: 10px 10px 5px #ff4757; */
}

.releases-img {
  width: 100%;
  height: 100%;
  /* height: 200px; */
  object-fit: cover;
}

.releases-info {
  position: absolute;
  bottom: 0;
  left: 0;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* justify-content: end; */
  /* align-items: center; */
  color: white;
  text-align: center;
  padding: 10px;
}

.releases-name {
  font-size: 24px;
  font-weight: bold;
  /* color: #000; */
}

.releases-date {
  font-size: 18px;
  font-weight: bold;
  /* color: #000; */
}

/* songs */
.songs {
  padding: 20px;
}

.songs-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.songs-album-title {
  margin: 10px 0;
  font-size: 30px;
}

.songs-card {
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
  width: 300px;
  /* height: 100px; */
  border-radius: 15px;
  padding: 10px;
  align-items: center;
  background: #2a2a2a;
}

.songs-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.songs-title p {
  font-size: 18px;
  font-weight: bold;
}

.songs-duration i {
  font-size: 30px;
}

.tickets {
  background: #1a1a1a;
  margin-top: 20px;
  padding: 20px;
}
